* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    margin-top: 45px;
}

.footer {
    margin-top: 30px;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 110px;
}

.col-6 {
    width: calc((100% / 12) * 6);
}


input {
    text-align: center;
}

label {
    margin-bottom: 400px;
}

.custom-card {
  max-width: 240px;
}
 .card {
    height: 500px;
    margin-top: 40px;
}

.bg-warning {
    width: 101.3%;
}
.bg-secondary {
    padding-left: 30px;
}

.bg-light {
    width: 30%;
}

@media (min-width: 576px){

    body {
        background-color: lightyellow;
    }

}


@media (min-width: 768px) {

    body {
        background-color: lightgreen;
    }

}


@media (min-width: 992px) {

    body {
        background-color: lightblue;
    }

}

.text {
    margin-left: 230px;
    float: left;
}

